.itemContainer {
  display: flex;
  flex-wrap: nowrap;
  padding: 7px 7px;
  align-items: center;
  width: 100px;
  min-height: 90px;
  max-height: 90px;
  box-sizing: border-box;
  /* border-bottom: 1px solid var(--gray-light); */
  overflow: hidden;

  border: none;
  background-color: transparent;
}
.itemContainer:hover {
  color: var(--text-color-light);
  background-color: var(--select-item);
}

.active {
  color: var(--text-color-light);
   background-color: var(--select-item);
}

.itemTable {
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.itemTile {
  height: 20%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.itemTable >.previewImage {
  height: 30px;
}
.image {
  /* width: 150px;
  height: 150px; */
}

.itemTable .image {
  margin-right: 10px;
}

.itemTile .image {
  margin-right: 0;
}

.title {
  font-family: 'PT Sans Narrow',
  sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
  /* height: 30px; */
  padding: 5px;
  word-break: break-all;
  text-overflow: ellipsis;
  
}