.itemContainer {
  display: flex;
  flex-wrap: nowrap;
  padding: 7px 7px;
  align-items: center;
  width: 200px;
  min-height: 120px;
  box-sizing: border-box;

  overflow: hidden;

  border: none;
  background-color: transparent;
}
.itemContainer:hover {
  color: var(--text-color-light);
  background-color: var(--select-item);
}

.active {
  color: var(--text-color-light);
   background-color: var(--select-item);
}

.itemTable {
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin-left: 10px;
}

.itemTile {
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.itemTable >.previewImage {
  height: 30px;
}
.image {
  /* width: 150px;
  height: 150px; */
     border: 2px solid var(--gray-light);
     padding: 5px;
 
}

.itemTable .image {
  margin-right: 10px;
}

.itemTile .image {
  margin-right: 0;
}

.title {
  font-family: 'PT Sans Narrow',
  sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
  /* height: 30px; */
  padding: 5px;
  word-break: break-all;
  text-overflow: ellipsis;
  
}