.itemContainer {
  display: flex;
  flex-wrap: nowrap;
  padding: 2px 5px;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--gray-light);
}

.itemTable {
  flex-direction: row;
  flex-wrap: nowrap;

}

.itemTile {
  flex-direction: column;
  justify-content: center;
}

.itemTable >.previewImage {
  height: 30px;
}