.itemList {
  width: 100%;
  overflow-y: scroll;
}

.tile {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  grid-auto-rows: max-content;
}

/* .portfolioItem {
  width: 100px;
} */

.table.portfolioItem:nth-child(2n) {
  background-color: white;
}
.table.portfolioItem:nth-child(2n+1) {
  background-color: var(--main-bg-color);
}