.container {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}

.previewImage {
  max-width: 90%;
  width: 200px;
  height: 120px;
  border: 2px solid var(--gray-light);
  padding: 3px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.previewLinkWrapper {
  margin-bottom: 10px;
}

.title {
  margin-left: 0;
}

.optionList {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.optionItem {
  display: flex;
  justify-content: space-between;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}
.tag {
  margin-bottom: 5px;
}

.period {
  margin: 1px 0;
  font-size: 12px;
  line-height: 12px;
  color: var(--gray-light);
  font-style: italic;
}

.linkButton {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
}

.info {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 14px;
  color: var(--gray-light);
  font-style: italic;
}

@media screen and (max-width: 640px) {
}
