@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


:root {
  --main-bg-color: #f7f1e3;
  --primary-color: #23e23e;
  --secondary-color: #122d12;
  --text-color: #333;
  --text-color-light: #eee;
  
  --gray-light: #333333;
  
  --desktop-min-width: 1200px;
  --mobile-min-width: 320px;

  --frame-width: 60vw;
}


.paragraph {
  text-indent: 30px;
}

.full {
  width: 100vw;
  height: 100vh;
}