
.resume {
  height: 100%;
  overflow: scroll;
  padding: 0 10px;
}

.resumePreview {
  height: auto;
  overflow: auto;
}


.line {
  margin: 1px 0;
}

.about {
  margin-top: 20px;
}

.placeList {
  list-style: none;
}