.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  min-width: 320px;
  justify-content: space-between;
  background-color: var(--main-bg-color);

  border: 2px solid #333;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  /* box-shadow: 10px 10px 0 #333; */

  z-index: 0;
}

.contactList {
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin: 16px 0;
  padding: 0;
}

.otherList {
  position: relative;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 16px 10px;
  padding: 0;
}

.otherList::before {
  position: absolute;
  content: "";
  top: 0;
  left: -10px;
  width: 2px;
  height: 40px;
  margin: 0 5px;
  background-color: #999;
}

@media screen and (max-width: 640px) {
  .footer {
    width: 100%;
    border-radius: 0;
  }
  .contactList {
    width: 100%;
    margin: 10px 0;
    justify-content: center;
  }

  .otherList::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 0;
  }
}