.container {
  position: fixed;
  bottom: 0;
  display: flex;
  min-width: 320px;
  height: 80px;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--main-bg-color);

  border: 2px solid #333;
  border-radius: 20px;
  z-index: 0;
}

.footer {
  display: flex;
  height: 80px;
}

.contactList {
  position: relative;
  display: flex;
  justify-content: flex-start;
    align-items: flex-end;
  margin: 16px 0;
  padding: 0;
  margin: 0;
}

.otherList {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  list-style: none;
  margin: 16px 10px;
  padding: 0;
  margin: 0;
}

.otherList::before {
  position: absolute;
  content: "";
  top: 20%;
  left: -5px;
  width: 2px;
  height: 60%;
  margin: 0 5px;
  background-color: #999;
}

@media screen and (max-width: 640px) {
  .container {
    width: 100%;
    border-radius: 0;
  }

  .footer {
    width: 100%;
    align-items: center;
  }

  .contactList {
    width: 100%;
    margin: 10px 0;
    justify-content: center;
  }

  .otherList::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 0;
  }
}