.modal {
  position: fixed;
  top: calc(50% - 90px);
  left: calc(50% - 150px);
  width: 30vw;
  height: auto;
  z-index: 9;
}

.hat {
  display: flex;

  justify-content: space-between;
  align-items: center;
  min-height: 25px;

  background-color: var(--main-bg-color);
  border: 3px solid #333;
  box-shadow: 10px 10px 0 #333;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}

.hatMenu {
  /* Тут абсолютная привязка */
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.hatHeader {
  width: 100%;
  text-align: center;
}

.hatButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;

  padding: 0;

  border: 2px solid #333;
  border-radius: 50%;
  margin-right: 5px;

  cursor: pointer;

  box-sizing: border-box;
}

.title {
  font-size: 16px;
}

.dialog {

  display: flex;
  background-color: var(--main-bg-color);
  border: 3px solid #333;
  border-top: 0;
  box-shadow: 10px 10px 0 #333;
  height: 150px;

  user-select:text;
  overflow-y: auto;
}

.close {
  background-color: #c57878;
}

.hatButton svg {
  display: none;

  width: 13px;
  height: 13px;
  fill: var(--gray-light)
}

.hatMenu:hover svg {
  display: block;
  
}

svg {
  fill: var(--gray-light)
}