.itemList {
  max-width: 100%;
  overflow-y: scroll;
  padding: 10px;
  box-sizing: border-box;
}
.slideContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.tile {
  display: grid;

  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 7px;
  grid-auto-rows: max-content;
  grid-auto-columns: max-content;
  justify-content: flex-start;
}

.table.portfolioItem:nth-child(2n) {
  background-color: white;
}
.table.portfolioItem:nth-child(2n + 1) {
  background-color: var(--main-bg-color);
}

.showContainer {
  width: 350px; 
  min-height: 100%;
  flex-grow: 1;
  border-left: 3px solid rgba(51, 51, 51, 0.9);
  box-sizing: border-box;
  /* Todo: Меняя это значение сдвигаем блока (можно сделать интерактивным) */
}
.showContainer {
  display: flex;
  transform: translateX(0%);
}

.sideBar {
  position: relative;
  height: auto;
  display: none;
}

.sideBarMobile {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 80px);
  transition: all 0.7s ease-in;
  overflow: hidden;
  overflow-y: auto;
}

.show {
  display: flex;
}

@media screen and (max-width: 640px) {
  .slideContainer {
    position: absolute;
    top: 80px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100% - 80px);
    overflow-y: auto;
    transform: translateX(100%);
    transition: all 0.7s ease-in;
    background-color: var(--main-bg-color);
  }

  .showContainer {
    display: flex;
    transform: translateX(0%);
  }
}
