.container {
  position: relative;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 60vw;
  /* margin-top: 100px; */
  left: 20vw;
  top: 10vh;
  z-index: 2;
}

.hat {
  display: flex;

  justify-content: space-between;
  align-items: center;
  min-height: 25px;

  background-color: var(--main-bg-color);
  border: 3px solid #333;
  box-shadow: 10px 10px 0 #333;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}

.fullScreen > .hat {
  border-radius: 0;
  user-select: none;
}

.hatMenu {
  /* Тут абсолютная привязка */
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.hatHeader {
  width: 100%;
  text-align: center;
}

.hatButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;

  padding: 0;

  border: 2px solid #333;
  border-radius: 50%;
  margin-right: 5px;

  cursor: pointer;

  box-sizing: border-box;
}

.title {
  font-size: 16px;
}

.fullScreen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  margin-top: 0;
}

.content {
  display: flex;
  height: 450px;

  background-color: var(--main-bg-color);
  border: 3px solid #333;
  border-top: 0;
  box-shadow: 10px 10px 0 #333;
  min-height: 450px;

  user-select:text;
}

.fullContent {
  height: auto;
}

.close {
  background-color: #c57878;
}

.hatButton svg {
  display: none;
  width: 10px;
  height: 10px;
  fill: var(--gray-light)
}

.hatMenu:hover svg {
  display: block;
}

svg {
  fill: var(--gray-light)
}