.container {
  /* position: relative; */
  position: absolute;
  display: flex;
  flex-direction: column;
  width: var(--frame-width);
  /* margin-top: 100px; */
  left: 10vw;
  top: 5vh;
  z-index: 2;
}

.hat {
  display: flex;

  justify-content: space-between;
  align-items: center;
  min-height: 25px;

  background-color: var(--main-bg-color);
  border: 3px solid #333;
  box-shadow: 10px 10px 0 #333;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}

.fullScreen > .hat {
  border-radius: 0;
  user-select: none;
}

.hatMenu {
  /* Тут абсолютная привязка */
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.hatHeader {
  width: 100%;
  text-align: center;
}

.hatButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;

  padding: 0;

  border: 2px solid #333;
  border-radius: 50%;
  margin-right: 5px;

  cursor: pointer;

  box-sizing: border-box;
}

.title {
  font-size: 16px;
}

.fullScreen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  margin-top: 0;
}

.content {
  display: flex;
  background-color: var(--main-bg-color);
  border: 3px solid #333;
  border-top: 0;
  box-shadow: 10px 10px 0 #333;
  height: 70vh;

  user-select:text;
  overflow-y: auto;
}

 .fullContent {
   height: 100vh;
 }

.close {
  background-color: #c57878;
}

.hatButton svg {
  display: none;

  width: 13px;
  height: 13px;
  fill: var(--gray-light)
}

.hatMenu:hover svg {
  display: block;
  
}

svg {
  fill: var(--gray-light)
}

.onMainButton {
  display: none;
}

@media screen and (max-width: 640px) {
 .hat {
   display: none;
  }
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    margin-right: 10px;
  }
  .onMainButton {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    top: 18px;
    left: 15px;
    z-index: 1;
    background-color: #333;
    
  }
  .onMainButton svg {
    width: 20px;
    height: 20px;
    fill: var(--white);
  }

  .content {
    border: 3px solid #333;
  }
}

