.container {
  position: relative;
  width: 100%;
}
.navBar {
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: rgba(51, 51, 51, 0.9);
}



.content {
  display: flex;
  height: calc(100% - 40px);  
}

.content:last-child {
  background-color: white;
}

@media screen and (max-width: 640px) {
  .navBar {
    height: 80px;
  }
}