.container {
  position: relative;
  display: flex;

  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-size: cover;

  background: linear-gradient(90deg, #f598a8, #f6edb2);
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 640px) {
  .innerContainer {
    
  }
}